/* CONTACT */
section {
  /* background-color: var(--matt-white); */
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 3rem;
  border: solid 1px var(--dreamless-sleep);
  background-color: var(--matt-white);
  color: var(--eerie-black);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.5s;
}

.contact-form:hover {
  box-shadow: 0.5rem 0.5rem var(--dreamless-sleep),
    -0.5rem -0.5rem var(--vivid-yellow);
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
  font-family: "Space Mono", monospace;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--eerie-black);
  color: var(--vivid-yellow);
  font-family: "Space Mono", monospace;
}

.contact-form textarea {
  height: 100px;
}

input:focus {
  outline: none !important;
  border: 2px solid var(--vivid-yellow);
  box-shadow: 0 0 10px #719ece;
}

textarea:focus {
  outline: none !important;
  border: 2px solid var(--vivid-yellow);
  box-shadow: 0 0 10px black;
}

.contact-form button {
  padding: 10px 20px;
  margin-top: 0.5rem;
  background-color: var(--eerie-black);
  color: #fff;
  cursor: crosshair;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  transition: 0.5s;
}

.contact-form button:hover {
  background-color: var(--philippine-yellow);
  color: var(--dreamless-sleep);
  transform: scale(1.25);
  transition: 0.5s ease-in-out;
}

.success-sent {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  font-family: "Space Mono", monospace;
}
