@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --eerie-black: #1c1c1c;
  --dreamless-sleep: #111111;
  --matt-white: #fffed5;
  --vivid-yellow: #fee402;
  --philippine-yellow: #fdca00;

  --max-width: 1100px;
}

#main-parent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

header {
  background-color: var(--dreamless-sleep);
  color: var(--matt-white);
  padding: 1.5rem;
}

header div {
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.my-name:hover {
  text-decoration: underline;
  cursor:none;
}

nav ul {
  font-size: 1.1rem;
  display: flex;
  list-style: none;
  gap: 1.4rem;
}

nav a {
  color: var(--matt-white);
  text-decoration: none;
}

nav a:hover {
  color: var(--vivid-yellow); 
  cursor: crosshair;
}

nav a.active {
  color: var(--philippine-yellow)
}

main {
  flex: 1;
  padding: 5rem;
}

footer {
  background-color: var(--dreamless-sleep);
  color: var(--matt-white);
  max-width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  
}

.footer-button {
  padding: 8px;
}

.footer-button:hover {
  background-color: var(--vivid-yellow);
  transform: scale(1.25);
  transition: 0.7s;
  border: none;
  cursor: crosshair;
}

section {
  max-width: var(--max-width);
  margin: auto;
}

section h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* ABOUT ME */
.about-me-content {
 
  display: flex;
  gap: 2rem;
  /* position: relative; */
}

.about-me-content > div {
  flex: 1;
}


.about-me-content img {
   /* max-width: 100%;
  max-height: 100%; */
 
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: 0% 55%;
  border-radius: 4px;
}

.bio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

}


/* CONTACT */
.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 5rem;
  border: solid 1px var(--dreamless-sleep);
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: var(--eerie-black);
  color: #fff;
  cursor: crosshair;
}

.contact-form button:hover {
  background-color: var(--vivid-yellow);
}