@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --eerie-black: #1c1c1c;
  --dreamless-sleep: #111111;
  --matt-white: #fffed5;
  --vivid-yellow: #fee402;
  --philippine-yellow: #fdca00;

  --max-width: 1100px;
}

html {
  scroll-behavior: smooth;
}

#main-parent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../src/images/Ver3.png");
  background-attachment: fixed;
}

main {
  flex: 1;
  padding: 5rem;
}

section {
  max-width: var(--max-width);
  margin: auto;
}

section h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h1 {
  font-family: 'Rowdies', cursive;
}

h2 {
  font-size: 1.5rem;
}

.g-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.position {
  position: absolute;
  width: 10vw;
  height: 10vh;
}